body {
  margin: 0;
  min-height: 100%;
}

html {
  margin: 0;
  min-height: 100%;
}

body {
  text-align: center;
  background: -webkit-linear-gradient(top left, #ffffffd8, #d83214d2);
  background: -moz-linear-gradient(top left, #ffffffd8, #d83214d2);
  background: linear-gradient(to bottom right, white, #250744);
  
}

.navbar {
  border-bottom: 1px dashed #130b52;
  text-align: center;
  display: flex;
  justify-content: center;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: fit-content;
}

.navbar ul li {
  display: inline-block;
}

.navbar a {
  font-size: 30px;
  text-decoration: none;
  display: block;
  width: 150px;
  text-align: center;
  text-shadow: #251d63 1px 1px 1px;
  background-color: #7c254271;
  border-radius: 10px;
}

.navbar a:hover {
  color: white;
  background-color: #341951cb;
  border-radius: 10px;
}


.navbar a.active {
  color: white;
  background-color: #a00303cc;
  border-radius: 10px;
}

#clipart {
  position: absolute;
  top: 80px;
  left: 80px;
  opacity: .3;
  max-height: 350px;
}

#container {          
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered2 {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered3 {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#circle_image_responsive{
  margin: 20px 5px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #bc4159;
  object-fit: cover;
  object-position: 50% 50%;
  box-shadow: 5px 5px 5px #130b52;
  filter: grayscale(100%); 
  width: 1000px;
  height: auto;
}

#clip-art {
  opacity: .2;
  
}

h1 {
  font-size: 100px;
  margin: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  font-weight: 900;
}

h2 {
  font-size: 26px;
  position: absolute;
  margin: 0;
  transform: translate(-50%, -50%);
  font-weight: 900;
  width: max-content;
  color: white;
}

h3 {
  font-size: 25px;
  position: absolute;
  margin: 0;
  transform: translate(-50%, -50%);
  font-weight: 900;
  color: white;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.wrapper h1 {
  color: white;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  text-shadow: -1px -1px 0 #3e2e6a, 1px -1px 0 #3e2e6a, -1px 1px 0 #3e2e6a, 1px 1px 0 #3e2e6a;
}
.wrapper h1:after {
  content: attr(data-heading);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  overflow: hidden;
  color: #ffffff;
  transform: translate(0vw, 0vh);
  mix-blend-mode: darken;
  text-align: center;
  width: 100%;
  text-shadow: 1px 0px 0px #3e2e6a, 0px 1px 0px #130b52, 2px 1px 0px #3e2e6a, 1px 2px 0px #130b52, 3px 2px 0px #3e2e6a, 2px 3px 0px #130b52, 4px 3px 0px #3e2e6a, 3px 4px 0px #130b52, 5px 4px 0px #3e2e6a, 4px 5px 0px #130b52, 6px 5px 0px #3e2e6a, 5px 6px 0px #130b52, 7px 6px 0px #3e2e6a;
}

.wrapper h2 {
  color: white;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  text-shadow: -1px -1px 0 #3e2e6a, 1px -1px 0 #3e2e6a, -1px 1px 0 #3e2e6a, 1px 1px 0 #3e2e6a;
}
.wrapper h2:after {
  content: attr(data-heading);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  overflow: hidden;
  color: #ffffff;
  transform: translate(0vw, 0vh);
  mix-blend-mode: darken;
  text-align: center;
  width: 100%;
  text-shadow: 1px 0px 0px #3e2e6a, 0px 1px 0px #130b52, 2px 1px 0px #3e2e6a, 1px 2px 0px #130b52, 3px 2px 0px #3e2e6a, 2px 3px 0px #130b52, 4px 3px 0px #3e2e6a, 3px 4px 0px #130b52, 5px 4px 0px #3e2e6a, 4px 5px 0px #130b52, 6px 5px 0px #3e2e6a, 5px 6px 0px #130b52, 7px 6px 0px #3e2e6a;
  opacity: .8;
}

.wrapper h3 {
  color: white;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  text-shadow: -1px -1px 0 #3e2e6a, 1px -1px 0 #3e2e6a, -1px 1px 0 #3e2e6a, 1px 1px 0 #3e2e6a;
}
.wrapper h3:after {
  content: attr(data-heading);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  overflow: hidden;
  color: #ffffff;
  transform: translate(0vw, 0vh);
  mix-blend-mode: darken;
  text-align: center;
  width: 100%;
  text-shadow: 1px 0px 0px #3e2e6a, 0px 1px 0px #130b52, 2px 1px 0px #3e2e6a, 1px 2px 0px #130b52, 3px 2px 0px #3e2e6a, 2px 3px 0px #130b52, 4px 3px 0px #3e2e6a, 3px 4px 0px #130b52, 5px 4px 0px #3e2e6a, 4px 5px 0px #130b52, 6px 5px 0px #3e2e6a, 5px 6px 0px #130b52, 7px 6px 0px #3e2e6a;
  opacity: .8;
}
