*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom properties for design */
:root {
  --ff-primary: font-family: 'Source Sans Pro', sans-serif;
  --ff-secondary: font-family: 'Source Sans Pro', sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #d1f0ff;
  --clr-dark: #303030;
  --clr-accent: #21333f
  ;

  --fs-h1: 4rem;
  --fs-h2: 2.25rem; 
  --fs-h3: 1.75rem; 
  --fs-body: 1.25rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);

  --typewriterSpeed: 2s;
  --typewriterCharacters: 40;
}

hello { 
  position: relative;
  width: max-content;
}

hello::before,
hello::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -5px;
  left: 0;
}


hello::before {
  background:#366998;
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

hello::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 6rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.75rem;
    --fs-body: 1.5rem;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    animation-delay: 4s;
    transform: translateY(0);
  }
}

/* General Styles */
body {
  background: #366998;
  color: #d1f0ff;
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6; 
  display: grid;
  place-content: center;
  text-align: center;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: .5em 2.5em;
  background: var(--clr-light);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */
h1,
h2, 
h3 {
  line-height: 1;
  margin: 0;
}

h1 {padding-top: 100px; position: relative; text-align: left;}

h1 { font-size: var(--fs-h1);}
h2 { font-size: var(--fs-h2);}
h3 { font-size: var(--fs-h3);}

html, body {
  overflow-x: hidden;
}
.section__title {
  margin-bottom: 0;
  font-size: 3rem;
}

span2 {
  text-shadow: 2px 2px black;
}

test {
  left: -190px;
  display: block;
  text-align: center;
  font-size: 90px;
  text-transform: uppercase;
	background-image: linear-gradient(to left, rgb(255, 94, 0), #ffe7d1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute; 
  width: 850px;
  text-decoration: none;
  opacity: 0;
  transform: translateY(7.4rem);
  animation: fadeInUp 2.5s forwards;
  animation-delay: 3s;
}

test::after {
  content: '';
  display: block;
  width: 3em;
  height: 10px;
  margin-left: 650px;
  width: 375px;
  background: var(--clr-accent);
  border-radius: 5px;
  opacity: 0;
  transform: translateY(4.5rem);
  animation: fadeInUp 2.5s forwards;
  animation-delay: 3.85s;
}

.gradient-shadow:before {
  left: -179px;
  color: black;
  display: block;
  text-align: center;
  font-size: 90px;
  text-transform: uppercase;
  content: attr(title);
  position: absolute; 
  width: 850px;
  text-decoration: none;
  margin-left: -9px;
  margin-top: 2px;
  opacity: 0;
  transform: translateY(7.4rem);
  animation: fadeInUp 2.5s forwards;
  animation-delay: 3.1s;
  z-index: -1;
}

test2 {
  left: 220px;
  display: block;
  text-align: center;
  font-size: 90px;
  text-transform: uppercase;
	background-image: linear-gradient(to left, rgb(255, 94, 0), rgb(255, 94, 0), #ffe7d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute; 
  width: 850px;
  text-decoration: none;
  opacity: 0;
  transform: translateY(7.4rem);
  animation: fadeInUp 2.5s forwards;
  animation-delay: 3.75s;
}

.gradient-shadow2:before {
  left: 221px;
  color: black;
  display: block;
  text-align: center;
  font-size: 90px;
  text-transform: uppercase;
  content: attr(title);
  position: absolute; 
  width: 850px;
  text-decoration: none;
  margin-left: -9px;
  margin-top: 2px;
  opacity: 0;
  transform: translateY(7.4rem);
  animation: fadeInUp 2.5s forwards;
  animation-delay: 3.85s;
  z-index: -1;
}

.section__title--intro hello {
  font-weight: bold; 
  font-size: 40px;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
  padding-top: 80px;
}

.section__subtitle--intro, 
.section__subtitle--about {
  background: var(--clr-accent);
  border-radius: 10px;
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

/* Header */
nav { display: none; }

/* Intro Section */
.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
  border-radius: 15px;
  grid-area: img;
    min-width: 400px;
    position: relative;
    z-index: 2;
    border: 5px solid orange;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: max-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .section__subtitle--intro {
    color: #d1f0ff;
    align-self: start;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 3em);
    text-shadow: 2px 2px black;
    opacity: 0;
    transform: translateY(6.4rem);
    animation: fadeInUp 2.5s forwards;
    animation-delay: 4.85s;
  }
}

/* My Services Section */
.my-services {
  color: white;
  text-align: center;
  border-top: solid 5px orange;
  border-bottom: solid 5px rgb(255, 255, 255);
  background-image: url(services-bg.jpg);
  background-size:cover;
  
}

.section__title--services {
  position: relative;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0,0,0,.95),
        1px 1px 2px rgba(0,0,0,.95);
  }

.container2 {
  position: relative;
  text-align: center;
} 

.container3 {
  position: relative;
  text-align: center;
} 

.service {
  position: relative;
  margin-left: 10px;
  text-align: left;
  text-shadow: 2px 2px 3px rgba(0,0,0,.5),
        1px 1px 2px rgba(0,0,0,.5);
}

.service p {
  background-color: rgb(148, 159, 168, .6);
  border-radius: 15px;
  width: 100%;
  min-height: 525px;
  border: 2px solid white;
  padding: 10px 10px;
  width: 250px;
} 

.flip-box {
  background-color: transparent;
  width: 240px;
  height: 180px;
  perspective: 1000px;
  }

.flip-box-inner {
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  margin-top: 50%;
  text-align: center;
  color: white;
  border-radius: 50%;
  width: 100%;
  border: 2px solid white;
  width: 250px;
  line-height: 125px;
  color: orange;
  text-shadow: 2px 2px 3px rgba(0,0,0,.5),
        1px 1px 2px rgba(0,0,0,.5);
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateX(180deg);
  background-color: rgb(148, 159, 168, .6);
  border-radius: 15px;
  width: 100%;
  min-height: 515px;
  border: 2px solid white;
  padding: 10px 10px;
  width: 230px;
  transform: rotateY(180deg);
}

.service h3 {
  text-align: center;
  background-color: rgb(148, 159, 168, .85);
  border-radius: 15px;
  border: 2px solid white;
  padding: 5px 5px;
}

  .services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0;
    box-sizing: border-box;
  }

  .rotc_img {
    min-width: 370px;
    object-fit:cover;
    box-shadow: var(--bs);
    border-radius: 15px;
    border: 3px solid white;
    
  }

red { color:orange;

}

.item1 {
    grid-column-start: 1;
    grid-column-end: ;
  }

.flip-box-front:hover .slidingVertical span{
    visibility: visible;
    opacity: 1;
}

/*Vertical Sliding*/
.slidingVertical{
  position: absolute;
  top: 85%;
  left: 45%;
  transform: translate(-50%, -50%);
	display: inline;
}
.slidingVertical span{
  padding-left: 5px;
	animation: topToBottom 12.5s linear infinite 0s;
	-ms-animation: topToBottom 12.5s linear infinite 0s;
	-webkit-animation: topToBottom 12.5s linear infinite 0s;
	color: #ffffff;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

  

/* About Me Section */

.container {
  position: relative;
  text-align: center;
  color: var(--clr-light);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-me {
  color: var(--clr-light);
  text-shadow: 2px 2px 2px black;
  border-bottom: solid 5px rgb(1, 88, 38); 
  background-image: url(green_water.jpg);
  background-size:cover;
}

.about-me p1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  text-align: left;
  font-size: 20px;
}

.about-me p2 {
  position: absolute;
  top: 47%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 400px;
  text-align: left;
  font-size: 20px;
}

.about-me p3 {
  position: absolute;
  top: 80%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 700px;
  text-align: left;
  font-size: 20px;
}

.about-me p4 {
  position: absolute;
  top: 54%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 240px;
  text-align: left;
  font-size: 20px;
}

.about-me__img {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  height: auto;
  width: 100%;
  box-shadow: var(--bs);
  margin-top: 30px;
  border-radius: 50%;
  border: 5px solid orange;
  position: relative;
  z-index: 0;
  min-width: 1000px;
  max-width: 2000px;
  object-fit:cover;
  opacity: .8;
}

span3::after {
  content: '';
  display: block;
  width: 21em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.5;
}

span3 {
  font-size: 30px;
}

/* My Work */
.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  text-align: center;
}

.shogip {
  margin-bottom: 15px;
}

.portfolio {
  max-width: 300px;
  border-radius: 15px;
}

.portfolio__item {
  background: orange;
  overflow: hidden;
  border-radius: 15px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(.5, 0, .5, 1);
  opacity: 250ms linear;
  border-radius: 15px;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
  border-radius: 15px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.1);
  opacity: .75;
  border-radius: 15px;
}